.Rproj.user
.Rhistory
.RData
.Ruserdata

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

output/S1_Phenotypic/*
output/S2_BreedingPrograms/*
output/S3_Biomarkers/*
output/S4_SocialContacts/*
output/S5_PowerAnalysis/*
!output/S1_Phenotypic/.gitkeep
!output/S2_BreedingPrograms/.gitkeep
!output/S3_Biomarkers/.gitkeep
!output/S4_SocialContacts/.gitkeep
!output/S5_PowerAnalysis/.gitkeep

scripts/S1_Phenotypic/*
scripts/S2_BreedingPrograms/*
scripts/S3_Biomarkers/*
scripts/S4_SocialContacts/*
scripts/S5_PowerAnalysis/*
!scripts/S1_Phenotypic/.gitkeep
!scripts/S2_BreedingPrograms/.gitkeep
!scripts/S3_Biomarkers/.gitkeep
!scripts/S4_SocialContacts/.gitkeep
!scripts/S5_PowerAnalysis/.gitkeep

slides/S1_Phenotypic/*
slides/S2_BreedingPrograms/*
slides/S3_Biomarkers/*
slides/S4_SocialContacts/*
slides/S5_PowerAnalysis/*
!slides/Literature/.gitkeep
!slides/S1_Phenotypic/.gitkeep
!slides/S2_BreedingPrograms/.gitkeep
!slides/S3_Biomarkers/.gitkeep
!slides/S4_SocialContacts/.gitkeep
!slides/S5_PowerAnalysis/.gitkeep
